{% extends "main.html" %}

{% block content %}

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{ company.name }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Registry number: {{ company.registry_number }} </li>
            <li class="list-group-item">Established: {{ company.establishment_date }} </li>
            <li class="list-group-item">Total capital : {{ company.total_capital }}</li>

        </ul>
        <div>{{ company.company.registry_number }}</div>

        <ul class="list-group list-group-flush">
            <p class="card" style="width: 18rem;">
            <div class="card-header">
                Owners:
            </div>
            {% for ownership in ownerships %}
                {% if  ownership.owner.business_user == None %}
                    <li class="list-group-item"><b>Name: {{ ownership.owner }} </b></li>
                    <li class="list-group-item">Identification code: {{ ownership.owner.identification_code }} </li>
                {% else %}
                    <li class="list-group-item"><b>Name: {{ ownership.owner }}</b></li>
                    <li class="list-group-item">Registry code: {{ ownership.owner.registry_number }} </li>
                {% endif %}

            {% endfor %}
        </ul>

        <input type="radio" onchange="hide_business_user(this)" name="aorb" checked>Private user|
        <input type="radio" onchange="hide_user(this)" name="aorb">Business User
       {% include 'base/partial_views/_partial_businessuser_form.html' %}
        <div id="user_form" style="visibility:hidden">
            {% include 'base/partial_views/_partial_businessuser_form.html' %}
        </div>

    </div>








{% endblock %}