{% extends "main.html" %}

{% block content %}

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{ company.name }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Registry number: {{ company.registry_number }} </li>
            <li class="list-group-item">Established: {{ company.establishment_date }} </li>
            <li class="list-group-item">Total capital : {{ company.total_capital }}</li>

        </ul>
        <div>{{ company.company.registry_number }}</div>

        <ul class="list-group list-group-flush">
            <p class="card" style="width: 18rem;">
            <div class="card-header">
                Owners:
            </div>
            {% for individual_owner in individual_owners %}
                <li class="list-group-item"><b>Name: {{ individual_owner }} </b></li>
                <li class="list-group-item">Identification code: {{ individual_owner.identification_code }} </li>
                <li class="list-group-item"> Share capital: {{ ownership.share_capital }} €</li>
                <li class="list-group-item">Is owner: {{ individual_owner.identification_code }} </li>

            {% endfor %}

            {% for business_owner  in business_owners %}
                <li class="list-group-item"><b>Name: {{ business_owner.business_user_name }}</b></li>
                <li class="list-group-item">Registry code: {{ business_owner.registry_number }} </li>
               <li class="list-group-item"> Share capital: {{ individual_owner.identification_code }} €</li>
                <li class="list-group-item">Identification code: {{ individual_owner.identification_code }} </li>
            {% endfor %}
        </ul>

        <input type="radio" onchange="hide_business_user(this)" name="aorb" checked>Private user|
        <input type="radio" onchange="hide_user(this)" name="aorb">Business User
        {% include 'base/partial_views/_partial_businessuser_form.html' %}
        <div id="user_form" style="visibility:hidden">
            {% include 'base/partial_views/_partial_businessuser_form.html' %}
        </div>

    </div>sudo








{% endblock %}