{% extends "main.html" %}

{% block content %}

    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <b>{{ company.name }}</b>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Registry number: {{ company.registry_number }} </li>
            <li class="list-group-item">Established: {{ company.establishment_date }} </li>
            <li class="list-group-item">Total capital : {{ company.total_capital }}</li>

        </ul>
        <div>{{ company.company.registry_number }}</div>

        <ul class="list-group list-group-flush">

            <div class="card-header">
                <b> Owners:</b>
            </div>

            {% for detail in owning_details %}
                {% if detail.business_user %}
                    <li class="list-group-item"><b>Company: {{ detail.business_user.business_user_name }}</b></li>
                    <li class="list-group-item">Registry code: {{ detail.business_user.registry_number }}</li>
                {% else %}
                    <li class="list-group-item"><b>Individual: {{ detail.user }}</b></li>
                    <li class="list-group-item">Identification code: {{ detail.user.identification_code }}</li>
                {% endif %}
                <li class="list-group-item"> Share capital: {{ detail.capital_size }} €</li>
                {% if is_founder %}
                    <li class="list-group-item">The owner is a founding member.</li>

                {% else %}
                    <li class="list-group-item">The owner is not a founding member.</li>

                {% endif %}

            {% endfor %}
        </ul>


    </div>







{% endblock %}