{% extends "main.html" %}
{% block content %}

    <div class="container ">
<a type="button" class="btn btn-light" href="{% url 'company_form' %}">Register new company</a>
        <div class="row mt-2">
            <div class="col-sm">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">New entries</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entrie in  new_entries %}
                        <tr>
                        <td><a href="{% url 'company'  entrie.id %}">{{ entrie.name }}</a></td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}